*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Plain light";
    color: #fff;
    /* cursor: none; */
}

html, body{
    width: 100%;
    height: 100%;
}


/* #crsr{
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: transparent;
    z-index: 1; 
    position: fixed;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
} */

#loader{
    height:100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0b0b0b;
    padding: 15vh 10vw;
}
.line{
    /* background-color: red; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5vw;
}

#line1-part1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1vw;
}


#line1-part1 h5, #line1-part1 h6{
    font-size: 3vw;
    font-weight: 200;
    font-family: "silk serif";
} 

#line1-part1 h5{
    width: 5vw;
    /* background-color: red; */
    text-align: right;

}

.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 800;
}

.line h2{
    height: 8.6vw;
    /* text-align: ;
    background-color: aqua; */
    font-size: 6.3vw;
    text-transform: uppercase;
    font-weight: 900;

    animation-name: loader-anime;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


#wait{
    margin-top: 10vh;
    margin-left: 20vw;
}

@keyframes loader-anime {
    0%{
        opacity: 1;
        font-family: "Plain light";
        font-weight: 500;
        color: #fff;
    }

    47%{
        opacity: 0;
        font-family: "Plain light";
        font-weight: 500;
        color: #fff;
    }


    50%{
        opacity: 1;
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
    }

    100%{
        opacity: 0;
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
    }
    
}


#main{
    position: relative;
    background-color: #0b0b0b;
}




#page1{
    width: 100%;
    height: 100vh;
    background-color: #151515;
}


#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8vh 6vw;
}


#nav-part2{
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;

    padding: 2vh;

}

#nav-part2 h4{
    font-size: 3vh;
    font-weight: 500;
    letter-spacing: 0.3px;

}

.center{
    /* background-color: red; */
    width: 70%;
    margin-left: 28%;
    height: fit-content;
    overflow: hidden; 
    display: flex;
}

#center1::before{
    content: '01';
    position: absolute;
    font-family: 'silk serif';
    font-size: 6.5vh;
    top: 29%;
    left: 22%;
    font-weight: 500;
}



.center h2{
    text-align: left;
    font-size: 13vh;
    line-height: 14vh;
    text-transform: uppercase;
    font-weight: 400;
    z-index:0;
    position: relative;
}




#hover1, #hover2{
    text-decoration: underline;
}

.center:nth-child(2){
    margin-top: 6vh;
}


#page2{
    height: 100vh;
    width: 100%;
    background-color: #151515;
    padding: 1px;
}


#vid-container{
    width:70%;
    height:70vh;
    /* background-color: red; */
    position: relative;
    top:15%;
    left: 30%;
    background-image: url('./Showreel-2022-preview-1.jpg');
    background-size: cover;

}


#vid-cursor{
    width: 13vw;
    height:13vw;
    background-color: #FFA63D;
    position: absolute;
    z-index: 2;
    border-radius: 50%;
    top:-12%;
    right: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#vid-cursor i{
    scale: 3.5;
}


#vid-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0%;
}


#vid-container video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
}


#page3-content{
    height: 100%;
    width: 100%;
    padding: 5vh 5vw;

}


#page3-content h2{
    /* background-color: aqua; */
    width: 60%;
    position: relative;
    left: 35%;
    font-size: 15vh;
    padding-bottom: 4vh;
    border-bottom: 0.3vh solid #9b9090;
    text-transform: uppercase;
}
#page3-content h2::before{
    content: '02';
    position: absolute;
    font-family: 'silk serif';
    font-size: 8vh;
    top: 7%;
    left: -13%;
    font-weight: 500;
}


.image-container{
    height: 120vh;
    width: 100%;
    /* background-color: red; */
    padding: 3vh 5vh;
    display: flex;
    justify-content: space-between;
    gap: 10vh;
    position: relative;
}

.image-div{
    height: 100vh;
    width: 30%;
    /* background-color: aqua; */
    overflow: hidden;
}

.image-div-larger{
    margin-top: 10vh;
}

.images img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.text-container{
    width: 100%;
    height: 20vh;
    /* background-color: crimson; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.2vh solid #fff;
}


.circle-arrow{
    width: 50vh;
    height: 50vh;
    border-radius: 50%;
    border: 1px solid #fff;
    /* background-color: #fff; */
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-arrow svg{
    height:50%;
}

#image-container2{
    height: 170vh;
}

#image-container2 .circle-arrow{
    align-self: flex-start;
}
#image-container2 .circle-arrow{
    rotate: -45deg;
}

#image-container2 .image-div{
    margin-top: 20vh;
}
#image-container2 .image-div-larger{
    margin-top: 50vh;
}


#page4{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative
}


#page4-content{
    height: 100%;
    width: 100%;
    padding: 5vh 5vw;

}


#page4-content h2{
    /* background-color: aqua; */
    width: 60%;
    position: relative;
    left: 35%;
    font-size: 15vh;
    padding-bottom: 4vh;
    border-bottom: 0.3vh solid #9b9090;
    text-transform: uppercase;
}
#page4-content h2::before{
    content: '03';
    position: absolute;
    font-family: 'silk serif';
    font-size: 8vh;
    top: 7%;
    left: -13%;
    font-weight: 500;
}


#above-content{
    margin-top: 8vh;
    width: 30vw;
    position: relative;
    left: 35%;
}

#above-content p{
    font-size: 4vh;
}





#flex-container{
    width: 55%;
    height: 80vh;
    /* background-color: aqua; */
    position: relative;
    left:35%;
    display: flex;
    margin-top: 5vh;
    gap: 1.5vw;
}



#flex-text{
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
}

#flex-container img{
    flex-shrink: 0;
    width: 70%;
    height: 100%;
    object-fit: cover;
}
#flex-text p{
    width: 85%;
    font-size: 2.5vh;
}

#blue-dev{
    width: 40%;
    height: 70vh;
    background-color: #3F7DF4;
    display: flex;
    flex-direction: column;
    padding: 4vh;
    margin-top: -25vh;
    margin-left: 60%;
    position: relative;
}



.blue-elem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.2vh solid #fff;
    padding-bottom: 4vh;
    padding-top: 3vh;
}
.blue-elem h3{
    font-size: 4vh;
}

.blue-elem h4{
    font-size: 2vh;
}


.underline{
    width: 68%;
    height: 0.3vh;
    position: relative;
    left: 34%;
    margin-top: 7vh;
    background-color: #ffffff8b;
}



#page5{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    padding: 1px;
}

.marquee, .marquee2{
    
    white-space: nowrap;
    overflow-x: hidden;
    margin-top: 0.5vh;
}  

.marquee h1{
    font-size: 14vh;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 16px;
    animation-name: marquee-anime;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.marquee2 h1{
    font-size: 14vh;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 16px;
    transform: translateX(calc(-100% - 20px));
    animation-name: marquee-anime;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

.marquee h1 span{
    font-size: 14vh;
    font-family: 'silk serif';
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 400;
    text-transform: uppercase;

}
.marquee2 h1 span{
    font-size: 14vh;
    font-family: 'silk serif';
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 400;
    text-transform: uppercase;

}

@keyframes marquee-anime {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-100% - 20px));
    }
}


#footer{
    width: 100%;
    height: 80vh;
    background-color: #151515;
    position: relative;
}


#footer h1{
    width: 60%;
    position: relative;
    left: 35%;
    font-size: 15vh;
    padding-bottom: 4vh;
    border-bottom: 0.3vh solid #9b9090;
    text-transform: uppercase;
}

#footer h1::before{
    content: '04';
    position: absolute;
    font-family: 'silk serif';
    font-size: 8vh;
    top: 7%;
    left: -13%;
    font-weight: 500;
}


#foot-div{
    margin-top: 10vh;
    margin-left: 35%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15vw;
    padding-bottom: 5vh;
}

#foot-div h4{
    margin-bottom: 3vh;
    font-size: 2.5vh;
}


#footer h5{
    font-size: 3vh;
}



#footer .underline{
    width: 63%;
}


#copyright{
    margin-top: 5vh;
    position: relative;
    margin-left: 35%;
}

#copyright h4{
    font-size: 2vh;
    font-weight: 500;
}


._canvas_container{
    z-index:999999 !important;
    pointer-events: none;
}