*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Plain light";
    color: #fff;
    /* cursor: none; */
}

html, body{
    width: 100%;
    height: 100%;
}


/* #crsr{
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: transparent;
    z-index: 1; 
    position: fixed;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
} */

#loader{
    height:100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0b0b0b;
    padding: 15vh 10vw;
}
.line{
    /* background-color: red; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5vw;
}

#line1-part1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1vw;
}


#line1-part1 h5, #line1-part1 h6{
    font-size: 3vw;
    font-weight: 200;
    font-family: "silk serif";
} 

#line1-part1 h5{
    width: 5vw;
    /* background-color: red; */
    text-align: right;

}

.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 800;
}

.line h2{
    height: 8.6vw;
    /* text-align: ;
    background-color: aqua; */
    font-size: 6.3vw;
    text-transform: uppercase;
    font-weight: 900;

    animation-name: loader-anime;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


#wait{
    margin-top: 10vh;
    margin-left: 20vw;
}

@keyframes loader-anime {
    0%{
        opacity: 1;
        font-family: "Plain light";
        font-weight: 500;
        color: #fff;
    }

    47%{
        opacity: 0;
        font-family: "Plain light";
        font-weight: 500;
        color: #fff;
    }


    50%{
        opacity: 1;
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
    }

    100%{
        opacity: 0;
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
    }
    
}


#main{
    position: relative;
    background-color: #0b0b0b;
}




#page1{
    width: 100%;
    height: 100vh;
    background-color: #151515;
}


#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8vh 6vw;
}


#nav-part2{
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;

    padding: 2vh;

}

#nav-part2 h4{
    font-size: 3vh;
    font-weight: 500;
    letter-spacing: 0.3px;

}

.center{
    /* background-color: red; */
    width: 70%;
    margin-left: 28%;
    height: fit-content;
    overflow: hidden;
    display: flex;
}

.center h2{
    text-align: left;
    font-size: 13vh;
    line-height: 14vh;
    text-transform: uppercase;
    font-weight: 400;
    z-index:0;
}


#hover1, #hover2{
    text-decoration: underline;
}

.center:nth-child(2){
    margin-top: 6vh;
}


#page2{
    height: 100vh;
    width: 100%;
    background-color: #151515;
    padding: 1px;
}


#vid-container{
    width:65%;
    height:70vh;
    /* background-color: red; */
    position: relative;
    top:20%;
    left: 35%;
    background-image: url('./Showreel-2022-preview-1.jpg');
    background-size: cover;

}


#vid-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0%;
}


#vid-container video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
