*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Plain light";
    color: #fff;
}

html, body{
    width: 100%;
    height: 100%;
}

#loader{
    height:100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0b0b0b;
    padding: 25vh 10vw;
}
.line{
    background-color: red;
    height: fit-content;
}

.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 500;
}


#main{
    position: relative;
    background-color: #111;
}


#page1{
    width: 100%;
    height: 100vh;
    background-color: #151515;
}